@model dynamic

<div class="col-lg-4 sidebar">
    <div class="widgets-container">
        <!-- Search Widget -->
        <div class="search-widget widget-item">
            <h3 class="widget-title">Search</h3>
            <form asp-controller="Blog" asp-action="Index" method="get">
                <input type="text" class="form-control mb-2 mr-sm-2" placeholder="Search" name="searchString" value="@ViewData["CurrentFilter"]">
                <button type="submit" class="btn btn-primary mb-2" title="Search"><i class="bi bi-search"></i></button>
            </form>
        </div><!--/Search Widget -->
        <!-- Search Results -->
        <div id="searchResults" class="mt-3"></div>

        <!-- Recent Posts Widget -->
        <div class="recent-posts-widget widget-item">
            <h3 class="widget-title">Recent Posts</h3>

            @foreach (var post in Model.Post)
            {
                <div class="post-item">
                    <img src="@post.BlogThumnail" alt="@post.Title" class="flex-shrink-0" style="width: 100px; height: auto;">
                    <div>
                        <h4><a href="@Url.Action("Details", "Blog", new { id = post.PostId })">@post.Title</a></h4>
                        <time datetime="@post.PublicationDate.ToString("yyyy-MM-dd")">@post.PublicationDate.ToShortDateString()</time>
                    </div>
                </div>

                <!-- End recent post item-->
            }

        </div><!--/Recent Posts Widget -->
        <!-- Categories Widget (keep this section as it is) -->
        <div class="categories-widget widget-item">
            <h3 class="widget-title">Categories</h3>
            <ul class="mt-3">
                @* @foreach (var item in Model.CategoryList)
                {
                <li>
                <a href="#">@item.Text <span>(25)</span></a>
                </li>
                } *@
            </ul>
        </div><!--/Categories Widget -->
        <!-- Tags Widget (keep this section as it is) -->
        <div class="tags-widget widget-item">
            <h3 class="widget-title">Tags</h3>
            <ul>
                <li><a href="#">App</a></li>
                <li><a href="#">IT</a></li>
                <li><a href="#">Business</a></li>
                <li><a href="#">Mac</a></li>
                <li><a href="#">Design</a></li>
                <li><a href="#">Office</a></li>
                <li><a href="#">Creative</a></li>
                <li><a href="#">Studio</a></li>
                <li><a href="#">Smart</a></li>
                <li><a href="#">Tips</a></li>
                <li><a href="#">Marketing</a></li>
            </ul>
        </div><!--/Tags Widget -->
    </div>
</div>
