@model IEnumerable<BlogPost>

@{
    ViewData["Title"] = "Blog";
}
<div style="margin-top: 7rem;">
    <!-- Page Title -->
    <div class="page-title">
        <div class="heading">
            <div class="container">
                <div class="row d-flex justify-content-center text-center">
                    <div class="col-lg-8">
                        <h1>RF Technologies</h1>
                        <h2>Building Software Solutions for Business Success</h2>
                        <p>RF Technologies is a software development company passionate about empowering businesses and startups. We leverage the power of technology to craft innovative solutions that drive growth and efficiency.</p>
                        <h2>On our blog page, you'll discover:</h2>
                        <ul class="text-start">
                            <li><strong>Strategic insights:</strong> Explore industry trends and how software can help you navigate them.</li>
                            <li><strong>Custom solutions:</strong> Learn how we tailor software to meet your specific business needs.</li>
                            <li><strong>Startup success stories:</strong> Get inspired by how other startups have leveraged software for growth.</li>
                            <li><strong>Tech deep dives:</strong> Delve into the latest technologies and how they can benefit your business.</li>
                        </ul>
                        <p><strong>Stay connected!</strong> Our blog offers valuable resources to help businesses thrive in today's dynamic landscape.</p>
                    </div>
                </div>
            </div>
        </div>
        <nav class="breadcrumbs">
            <div class="container">
                <ol>
                    <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                    <li class="current">Blog</li>
                </ol>
            </div>
        </nav>
    </div><!-- End Page Title -->

    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <!-- Blog Posts Section -->
                <section id="blog-posts" class="blog-posts section">
                    <div class="container">
                        <div class="row gy-4">
                            @foreach (var item in Model)
                            {
                                <div class="col-12">
                                    <article>
                                        <div class="post-img">
                                            <img src="@item.BlogThumnail" alt="" class="img-fluid">
                                        </div>

                                        <h2 class="title">
                                            <a href="@Url.Action("Details", "Blog", new { id = item.PostId })">@item.Title</a>
                                        </h2>

                                        <div class="meta-top">
                                            <ul>
                                                <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a href="#">@item.ApplicationUser.Name</a></li>
                                                <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a href="#"><time datetime="@item.PublicationDate.ToString("yyyy-MM-dd")">@item.PublicationDate.ToShortDateString()</time></a></li>
                                                <li class="d-flex align-items-center"><i class="bi bi-chat-dots"></i> <a href="#">@item.Comments.Count() Comments</a></li>
                                            </ul>
                                        </div>

                                        <div class="content">
                                            <p>
                                                @item.Content
                                            </p>

                                            <div class="read-more">
                                                <a asp-controller="Blog" asp-action="Details" asp-route-blogId="@item.PostId">Read More</a>
                                            </div>
                                        </div>
                                    </article>
                                </div>
                            }
                        </div><!-- End blog posts list -->
                    </div>
                </section><!-- /Blog Posts Section -->
                <!-- Blog Pagination Section -->
                <section id="blog-pagination" class="blog-pagination section">
                    <div class="container">
                        <div class="d-flex justify-content-center">
                            <ul>
                                <li><a href="#"><i class="bi bi-chevron-left"></i></a></li>
                                <li><a href="#">1</a></li>
                                <li><a href="#" class="active">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li>...</li>
                                <li><a href="#">10</a></li>
                                <li><a href="#"><i class="bi bi-chevron-right"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </section><!-- /Blog Pagination Section -->
            </div>

            <div class="col-lg-4 sidebar">
                <div class="widgets-container">
                    <!-- Search Widget -->
                    <div class="search-widget widget-item">
                        <h3 class="widget-title">Search</h3>
                        <form action="">
                            <input type="text">
                            <button type="submit" title="Search"><i class="bi bi-search"></i></button>
                        </form>
                    </div><!--/Search Widget -->
                    <!-- Categories Widget -->
                    <div class="categories-widget widget-item">
                        <h3 class="widget-title">Categories</h3>
                        <ul class="mt-3">
                            <li><a href="#">General <span>(25)</span></a></li>
                            <li><a href="#">Lifestyle <span>(12)</span></a></li>
                            <li><a href="#">Travel <span>(5)</span></a></li>
                            <li><a href="#">Design <span>(22)</span></a></li>
                            <li><a href="#">Creative <span>(8)</span></a></li>
                            <li><a href="#">Education <span>(14)</span></a></li>
                        </ul>
                    </div><!--/Categories Widget -->
                    <!-- Recent Posts Widget -->
                    <div class="recent-posts-widget widget-item">
                        <h3 class="widget-title">Recent Posts</h3>

                        <div class="post-item">
                            <img src="assets/img/blog/blog-recent-1.jpg" alt="" class="flex-shrink-0">
                            <div>
                                <h4><a href="blog-details.html">Nihil blanditiis at in nihil autem</a></h4>
                                <time datetime="2020-01-01">Jan 1, 2020</time>
                            </div>
                        </div><!-- End recent post item-->

                        <div class="post-item">
                            <img src="assets/img/blog/blog-recent-2.jpg" alt="" class="flex-shrink-0">
                            <div>
                                <h4><a href="blog-details.html">Quidem autem et impedit</a></h4>
                                <time datetime="2020-01-01">Jan 1, 2020</time>
                            </div>
                        </div><!-- End recent post item-->

                        <div class="post-item">
                            <img src="assets/img/blog/blog-recent-3.jpg" alt="" class="flex-shrink-0">
                            <div>
                                <h4><a href="blog-details.html">Id quia et et ut maxime similique occaecati ut</a></h4>
                                <time datetime="2020-01-01">Jan 1, 2020</time>
                            </div>
                        </div><!-- End recent post item-->

                        <div class="post-item">
                            <img src="assets/img/blog/blog-recent-4.jpg" alt="" class="flex-shrink-0">
                            <div>
                                <h4><a href="blog-details.html">Laborum corporis quo dara net para</a></h4>
                                <time datetime="2020-01-01">Jan 1, 2020</time>
                            </div>
                        </div><!-- End recent post item-->

                        <div class="post-item">
                            <img src="assets/img/blog/blog-recent-5.jpg" alt="" class="flex-shrink-0">
                            <div>
                                <h4><a href="blog-details.html">Et dolores corrupti quae illo quod dolor</a></h4>
                                <time datetime="2020-01-01">Jan 1, 2020</time>
                            </div>
                        </div><!-- End recent post item-->
                    </div><!--/Recent Posts Widget -->
                    <!-- Tags Widget -->
                    <div class="tags-widget widget-item">
                        <h3 class="widget-title">Tags</h3>
                        <ul>
                            <li><a href="#">App</a></li>
                            <li><a href="#">IT</a></li>
                            <li><a href="#">Business</a></li>
                            <li><a href="#">Mac</a></li>
                            <li><a href="#">Design</a></li>
                            <li><a href="#">Office</a></li>
                            <li><a href="#">Creative</a></li>
                            <li><a href="#">Studio</a></li>
                            <li><a href="#">Smart</a></li>
                            <li><a href="#">Tips</a></li>
                            <li><a href="#">Marketing</a></li>
                        </ul>
                    </div><!--/Tags Widget -->
                </div>
            </div>
        </div>
    </div>
</div>
