@model PaginatedList<RF_Technologies.Model.BlogPost>

@{
    ViewData["Title"] = "Blog";
}
<div style="margin-top: 7rem;">
    <!-- Page Title -->
    <div class="page-title">
        <div class="heading">
            <div class="container">
                <div class="row d-flex justify-content-center text-center">
                    <div class="col-lg-8">
                        <h1>RF Technologies</h1>
                        <h2>Building Software Solutions for Business Success</h2>
                        <p>RF Technologies is a software development company passionate about empowering businesses and startups. We leverage the power of technology to craft innovative solutions that drive growth and efficiency.</p>
                        <h2>On our blog page, you'll discover:</h2>
                        <ul class="text-start">
                            <li><strong>Strategic insights:</strong> Explore industry trends and how software can help you navigate them.</li>
                            <li><strong>Custom solutions:</strong> Learn how we tailor software to meet your specific business needs.</li>
                            <li><strong>Startup success stories:</strong> Get inspired by how other startups have leveraged software for growth.</li>
                            <li><strong>Tech deep dives:</strong> Delve into the latest technologies and how they can benefit your business.</li>
                        </ul>
                        <p><strong>Stay connected!</strong> Our blog offers valuable resources to help businesses thrive in today's dynamic landscape.</p>
                    </div>
                </div>
            </div>
        </div>
        <nav class="breadcrumbs">
            <div class="container">
                <ol>
                    <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                    <li class="current">Blog</li>
                </ol>
            </div>
        </nav>
    </div><!-- End Page Title -->

    <div class="container">
        <!-- Search and Sort Section -->
        @* <div class="row mb-4">
            <div class="col-md-8">
                <form asp-action="Index" method="get">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search blog posts..." name="searchString" value="@ViewData["CurrentFilter"]" />
                        <button class="btn btn-outline-secondary" type="submit">Search</button>
                    </div>
                </form>
            </div> *@

            <!-- Sorting links -->
            <div class="col-md-4 text-end">
                <p>
                    Sort by:
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["TitleSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Title</a> |
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["DateSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Date</a> |
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["AuthorSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Author</a>
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-8">
                <!-- Blog Posts Section -->
                <section id="blog-posts" class="blog-posts section">
                    <div class="container">
                        <div class="row gy-4">
                            @foreach (var item in Model)
                            {
                                <div class="col-12">
                                    <article>
                                        <div class="post-img">
                                            <img src="@item.BlogThumnail" alt="" class="img-fluid">
                                        </div>

                                        <h2 class="title">
                                            <a href="@Url.Action("Details", "Blog", new { id = item.PostId })">@item.Title</a>
                                        </h2>

                                        <div class="meta-top">
                                            <ul>
                                                <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a href="#">@item.ApplicationUser.Name</a></li>
                                                <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a href="#"><time datetime="@item.PublicationDate.ToString("yyyy-MM-dd")">@item.PublicationDate.ToShortDateString()</time></a></li>
                                                <li class="d-flex align-items-center"><i class="bi bi-chat-dots"></i> <a href="#">@item.Comments.Count() Comments</a></li>
                                            </ul>
                                        </div>

                                        <div class="content">
                                            <p>
                                                @Html.Raw(item.ShortDescription)
                                            </p>

                                            <div class="read-more">
                                                <a asp-controller="Blog" asp-action="Details" asp-route-blogId="@item.PostId">Read More</a>
                                            </div>
                                        </div>
                                    </article>
                                </div>
                            }
                        </div><!-- End blog posts list -->
                    </div>
                </section><!-- /Blog Posts Section -->
                <!-- Blog Pagination Section -->
                <section id="blog-pagination" class="blog-pagination section">
                    <div class="container">
                        <div class="d-flex justify-content-center">
                            <ul class="pagination">
                                @if (Model.HasPreviousPage)
                                {
                                    <li class="page-item">
                                        <a class="page-link" asp-action="Index" asp-route-pageNumber="@(Model.PageIndex - 1)" asp-route-sortOrder="@ViewData["CurrentSort"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">
                                            <i class="bi bi-chevron-left"></i> Previous
                                        </a>
                                    </li>
                                }

                                @for (var i = 1; i <= Model.TotalPages; i++)
                                {
                                    <li class="page-item @(i == Model.PageIndex ? "active" : "")">
                                        <a class="page-link" asp-action="Index" asp-route-pageNumber="@i" asp-route-sortOrder="@ViewData["CurrentSort"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">@i</a>
                                    </li>
                                }

                                @if (Model.HasNextPage)
                                {
                                    <li class="page-item">
                                        <a class="page-link" asp-action="Index" asp-route-pageNumber="@(Model.PageIndex + 1)" asp-route-sortOrder="@ViewData["CurrentSort"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">
                                            Next <i class="bi bi-chevron-right"></i>
                                        </a>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                </section><!-- /Blog Pagination Section -->
            </div>

            <!-- Blog Sidebar Partial -->
            <partial name="_BlogSideBar.cshtml" />
        </div>
    </div>
</div>
