@using RF_Technologies.Utility
@model IEnumerable<RegistrationForm>



@{
    var status = Context.Request.Query["status"];

    var approved = "";
    var pending = "";
    var checkedIn = "";
    var completed = "";
    var cancelled = "";

    switch (status)
    {
        case SD.StatusPending:
            pending = "text-white bg-success";
            break;
        case SD.StatusApproved:
            approved = "text-white bg-success";
            break;
        case SD.StatusCheckedIn:
            checkedIn = "text-white bg-success";
            break;
        case SD.StatusCompleted:
            completed = "text-white bg-success";
            break;
        case SD.StatusCancelled:
            cancelled = "text-white bg-success";
            break;
        default:
            break;
    }
}

<div class="w-100 card border-0 p-4 ">
    <div class="card-header bg-success bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Registration List</h2>
            </div>
        </div>
    </div>
    <div class="card-body border p-4">
        <div class="d-flex justify-content-end pb-4 pt-2">
            <ul class="list-group list-group-horizontal-sm">
                <a style="text-decoration:none;" asp-controller="Booking" asp-action="Index" asp-route-status="@SD.StatusPending">
                <li class="list-group-item @pending"> @SD.StatusPending</li>
                </a>
                <a style="text-decoration:none;" asp-controller="Booking" asp-action="Index" asp-route-status="@SD.StatusApproved">
                <li class="list-group-item @approved"> @SD.StatusApproved</li>
                </a>
                <a style="text-decoration:none;" asp-controller="Booking" asp-action="Index" asp-route-status="@SD.StatusCheckedIn">
                <li class="list-group-item @checkedIn"> @SD.StatusCheckedIn</li>
                </a>
                <a style="text-decoration:none;" asp-controller="Booking" asp-action="Index" asp-route-status="@SD.StatusCompleted">
                <li class="list-group-item @completed"> @SD.StatusCompleted</li>
                </a>
                <a style="text-decoration:none;" asp-controller="Booking" asp-action="Index" asp-route-status="@SD.StatusCancelled">
                <li class="list-group-item @cancelled"> @SD.StatusCancelled</li>
                </a>
            </ul>
        </div>
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Domain</th>
                    <th>College Name</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var obj in Model)
                {
                    <tr>
                        <td>@obj.Name</td>
                        <td>@obj.Email</td>
                        <td>@obj.Domain</td>
                        <td>@obj.CollegeName</td>
                        <td>@obj.Status</td>
                        <td>
                            <div class="w-75 btn-group" role="group">
                                <a asp-controller="Student" asp-action="RegistrationUpdate" asp-route-registrationId="@obj.ID"
                                   class="btn btn-success mx-2">
                                    <i class="bi bi-pencil-square"></i> Edit
                                </a>
                                <a asp-controller="Student" asp-action="Delete" asp-route-registrationId="@obj.ID"
                                   class="btn btn-danger mx-2">
                                    <i class="bi bi-trash-fill"></i> Delete
                                </a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>



